<%= image_tag @user.profile_pic.url, id: "profile_pic"%>
<br><br>
<h1><%= current_user.first_name%> <%= current_user.last_name%></h1>
<h3><%= current_user.email%></h3>
<h3><%= current_user.gender%></h3>
<h5><%= link_to "Edit", edit_user_registration_path%></h5>