<%=image_tag("logo.png", class:"img-fluid")%>
<% if user_signed_in?%>
	<p><%= link_to current_user.first_name, profiles_index_path %></p>
	<%= link_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-danger"%>
	<br>
	<%= link_to "Get started", category_index_path, class:"btn btn-success" %>
	
<% else %>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary"%>
	<br>
	<%= link_to "Log In", new_user_session_path, class: "btn btn-secondary"%>
<% end %>


