<%=image_tag("logo.png", class:"img-fluid")%>
<% if user_signed_in?%>
	<p><%= current_user.email%></p>
	<%= link_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-danger"%>
	<br>
	<%= link_to "Get started", category_index_path, class:"btn btn-success" %>

<% else %>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary"%>
	<br>
	<%= link_to "Log In", new_user_session_path, class: "btn btn-secondary"%>
<% end %>
<p>Dine & Dash is a mobile web app that allows you to meet people at events or activities you want. Our application allows users to sign up and set a preference for what they would to do. The application then presents them with a list of venues where they could do said activity. Upon selection, they will be presented with other users who also want to do said activity at similar places. The user will have the opportunity to 'dine' with said other user or 'dash' away from them. The application will then link the user with other users who wanted to 'dine' with them as well.
</p>

